
# ban all
*
#except white list to include (w/ ! prefix) :

!**/*.less
!**/*.pug
!**/*.ts

!**/*.eot
!**/*.ttf
!**/*.woff
!**/*.woff2

!**/*.ico
!**/*.png
!**/*.svg
!**/*.jpg

!package.json
!gulpfile.js
!README.md
!Wedgefile
