# ban all
*
!*/
node_modules

# except white list to
# include (w/ ! prefix) :
!.gitignore
!*.editorconfig

!**/*.less
!**/*.scss
!**/*.sass
!**/*.pug
!**/*.ts
!**/*.md

!/www/assets/**


#assets
!**/*.ico
!**/*.png
!**/*.svg
!**/*.jpg

#specific
!package.json
!gulpfile.js
!Wedgefile


## over ride
**/.DS_Store
**/Thumbs.db
/zold
/xwww