doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover')

		title jBake Mobi
		link(rel='stylesheet', href='assets/fr7/framework7.css')
		link(rel='stylesheet', href='assets/fonts/framework7-icons.css')
		link(rel='stylesheet', href='assets/fonts/material-icons.css')

	body
		style(type='riot')
		script(src='comps/car-swipe.tag', type='riot/tag')

		#app
			.page
				//right
				.panel.panel-right.panel-cover
						.view
							.page(data-name='panel-r') 
								.navbar
									.navbar-inner
										.title Story
								.page-content
									.block Here is where the story goes

				//fixed header
				.navbar
					.navbar-inner
						.left
						.title.sliding jBake Mobi

				// fixed footer		
				.toolbar.toolbar-bottom-md
					.toolbar-inner
						.block jBake Mobi

				// fixed main view .page-content 
				.page
					.view.view-main.ios-edges
						.page(data-name='swiper') 
							.swiper-container
								.swiper-wrapper

									.swiper-slide
											.cars-w
											.cars
												car-swipe(guid='1')
												car-swipe(guid='2')
												car-swipe(guid='3')

									.swiper-slide
											.cars-w
											.cars
												car-swipe(guid='4')
												car-swipe(guid='5')
												car-swipe(guid='6')

									.swiper-slide
											.cars-w
											.cars
												car-swipe(guid='7')
												car-swipe(guid='8')
												car-swipe(guid='9')


		script(type='text/javascript', src='//cdn.jsdelivr.net/npm/framework7@2.0.6/dist/js/framework7.js')
		script(src='//cdn.jsdelivr.net/npm/riot@3.8/riot+compiler.min.js')

		script.
			var $$ = Dom7
			riot.compile(function() { // load the comps as js and then do swiperInit()
				var comps = riot.mount('*')
				console.log('ready')
				init()
			})
			
			var app = new Framework7({
				root: '#app',
				//routes: routes_,
				on: {
					init: function () {
						console.log('app')
					}
				}
			})

			function init() {
				var swiper = app.swiper.create('.swiper-container', {
					direction: 'vertical',
					spaceBetween: 1,
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					}
				})
			}

		style.
			.swiper-container {
				height: calc(100vh - 104px); 
				margin-top: 56px;
			}

			.cars {
				height: 100%;
				background: #ccc;
				display: flex;
				flex-direction: column;
				j0ustify-content: flex-end;
				a0lign-items: flex-end;
				padding-top: 0px;
			}

			car-swipe {
				margin: auto;
				overflow: hidden;
				width: 100%;
			}

			.panel {
				width: 100%;
			}